/* 
    Created on : 20-Jul-2015, 20:14:17
    Author     : Richie
*/

#logo{
    width:45%;
}

.html5-logo{
    height: 30px;
    float:right;
}

#key-facts{
    text-align:center;   
}

.skill-cloud{
    text-align:center;
}

.footer{
    background-color: #f5f5f5;
    height: 60px;
}

.text-muted{
    margin: 20px 0;
}

#logo-container{
    text-align:center;
}

.cloud-guru{
    font-size:240%;
    color:#333355;
}

.cloud-expert{
    font-size:200%;
    color:#555577;
}

.cloud-experienced{
    font-size:160%;
    color:#777799;
}

.cloud-work{
    font-size: 120%;
    color:#9999bb;
}

.cloud-intern{
    font-size:80%;
    color:#bbbbdd;
}